html{
    font-size: 16pt;
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    margin : 0 0 0 0 ;
}

#footer{
    font-size: 12pt;
    border-top: 1px solid #000000;
    position: relative;
    bottom: 0;
    height: 100%;
    width:100%;
}

#cv{
    position:relative;
}

#cv:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #000000;
    transform: translate(-50%);
}

#info{
    margin-left:51%;
}


#photo{
    float:left;
    padding-left:5%;
}

#name{
    padding-top:5%;
}

.information{
    padding-top:3%;
}

#dob{
    padding-top:20%;
}

#phone{
    padding-top:10%;
}

#header{
    padding-left:5%;
}

#eduheader{
    clear: both;
    padding-left:5%;
}

#eduDate{
    padding-left:41%;
    float:left;
}

.educationDate{
    padding-top:2%;
}

#eduDesc{
    padding-left:51%;
}

#profheader{
    clear: both;
    padding-left:5%;
}

#profdate{
    padding-left:25%;
    float: left;
}

#profDesc{
    padding-left: 51%;
}

.professionDate{
    padding-top:10%
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

#nextbtn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#nextbtn:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

@media  (max-width: 1200px) {
    
#cv:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: none;
    transform: translate(-50%);
}

#info{
    clear: both;
    margin-left:5%;
    
}

#eduDate{
    padding-left:5%;
}

#eduDesc{
    padding-left:20%;
}

#profdate{
    padding-left:5%;
}
#profDesc{
    padding-left:35%;
}

#dob{
    padding-top:5%;
}

#phone{
    padding-top:5%;
}
    }
